*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Image/movie-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    letter-spacing: 4px;      
    
}

.buttons{
    display: flex;
    gap: 10px;
}

#wrapper{
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 1000px;
    margin: 40px auto;
    border-radius: 6px;
    padding:20px;
    border: 3px solid #2c3e50;
}

#page-banner{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

#movie-list, #add-movie{
    margin: 30px;
}

#movie-list ul{
    list-style: none;
}
#movie-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

#movie-list ul li:hover{
   border-left: #667eea 2px solid;
   background: rgba(102, 126, 234, 0.05);
}

.edit{
    background-color: #4dabf7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete{
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover {
    background: #e55757;
}

#add-movie{
    border: none;
    width: 500px;
    margin: 0 auto;
}

#add-movie input{
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #d0d0d0;
    width: 300px;
    border-radius: 4px;
}

#add-movie button{
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#add-movie button:hover {
    background: #218838;
}